{#- VLAN creation -#}

{#- configure vlan Default delete ports all -#}
{% for vlan in vlan %}
    create vlan "{{ vlan.name }}" tag {{ vlan.id }}
    enable stpd s0 auto-bind vlan {{ vlan.name }}
    {% if vlan.tagged_ports is defined %}
        {% for port in vlan.tagged_ports %}
            configure vlan {{ vlan.id }} add ports {{ port }} tagged
        {% endfor %}
    {% endif %}
    {% if vlan.untagged_ports is defined %}
        {% for port in vlan.untagged_ports %}
            configure vlan {{ vlan.id }} add ports {{ port }} untagged
        {% endfor %}
    {% endif %}
{% endfor %}