{#- LLDP (Link Layer Discovery Protocol) configuration -#}

disable lldp ports all
enable lldp ports {{ lldp.enabled_ports | join(',') }}
configure lldp management-address vlan {{ lldp.mgmt_vlan }} primary-ip
configure lldp ports all advertise all-tlvs