{# VARIABLES                                                    #}
{#- ---------------------------------------------------------- -#}

enable cdp ports {{ cdp.port_id }}
configure cdp management-address vlan {{ cdp.vlan_mgmt }} primary-ip
configure cdp device-id system-name