{#- Configure SNMPv3 with traps -#}

configure snmpv3 add user "{{snmp.user}}" authentication sha {{snmp.password}} privacy aes {{snmp.privacy_password}}
configure snmpv3 add group "{{snmp.group}}" user "{{snmp.user}}" sec-model usm
configure snmpv3 add access "{{snmp.group}}" sec-model usm sec-level priv notify-view defaultAdminView read-view defaultAdminView write-view defaultAdminView
configure snmpv3 add target-addr "{{snmp.server.name}}" param "{{snmp.server.name}}_Parameters" ipaddress {{snmp.server.ip_address}} tag-list "{{snmp.server.name}}_Tag" 
configure snmpv3 add target-params "{{snmp.server.name}}_Parameters" user {{snmp.user}} mp-model snmpv3 sec-model usm sec-level priv 
configure snmpv3 add notify "{{snmp.server.name}}_Notification" tag "{{snmp.server.name}}_Tag" type inform
configure snmpv3 add filter-profile "{{snmp.server.name}}_Filter" param "{{snmp.server.name}}_Parameters"
configure snmpv3 add filter "{{snmp.server.name}}_Filter" subtree 1.0/00 type included
{% for oid in snmp.oid_excluded %}
    configure snmpv3 add filter "{{snmp.server.name}}_Filter" subtree {{oid}} type excluded
{% endfor %}
disable snmp access snmpv-v1v2c
enable snmp access snmpv3